.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

strong {
  color: #3898ec;
  font-weight: 700;
}

.form-block {
  margin-top: 40px;
}

.submit_button {
  border-radius: 5px;
  font-family: Inconsolata, monospace;
  font-size: 20px;
}

.submit_button:hover {
  background-color: #007be7;
}

.form_text {
  padding-bottom: 10px;
  font-family: Inconsolata, monospace;
  font-size: 20px;
}

.form_text.question {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  display: flex;
}

.form_text.upload_form {
  padding-bottom: 20px;
}

.form_text.white {
  color: #fff;
}

.form_input {
  max-height: 85px;
  max-width: 100%;
  border-radius: 5px;
}

.form_input:hover {
  background-color: #eee;
  border: 1px solid #3898ec;
}

.form_input.text_area {
  height: 100px;
  max-height: 85px;
}

.form_input.form_text.job_desc_text {
  max-height: 100%;
  min-height: 150px;
}

.center_block {
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}

.html-embed {
  max-width: 100px;
}

.hmtl-embed-site {
  min-height: 200px;
  min-width: 20px;
}

.rich-text-block {
  font-family: Inconsolata, monospace;
  font-size: 16px;
}

.grid {
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr 1fr 1fr;
}

.paragraph_text {
  color: #a3a3a3;
  text-align: center;
  text-transform: uppercase;
  font-family: Inconsolata, monospace;
  font-size: 20px;
  font-weight: 400;
}

.grid-2 {
  grid-template: "Area"
  / 6.25fr;
}

.logo_image {
  max-width: 50%;
  display: inline-block;
}

.logo_grid {
  grid-column-gap: 16px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-content: stretch;
  align-items: start;
  justify-items: stretch;
  display: grid;
}

.question_block {
  background-color: #eee;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  display: block;
}

.question_block:hover {
  border-color: #3898ec;
}

.question_block.spaced {
  margin-bottom: 40px;
}

.question_trigger {
  justify-content: space-between;
  display: flex;
}

.text-block {
  font-size: 20px;
}

.arrow {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 0;
  font-size: 20px;
}

.grid-3 {
  grid-template-rows: auto;
  grid-template-columns: 1fr 5.75fr 1fr;
}

.upload_div {
  max-height: 100%;
  min-height: 120px;
  border: 3px dashed #007be7;
  border-radius: 5px;
}

.grid_upload {
  grid-template-columns: 1fr;
  justify-items: center;
}

.grid_upload.form_input {
  max-height: 100%;
}

.columns_upload {
  margin-bottom: 20px;
}

.ideas_lab_h1 {
  font-family: Inconsolata, monospace;
  font-size: 50px;
}

.div-block {
  min-height: 1px;
}

.success-message {
  background-color: #007be7;
  border: 1px solid #007be7;
  border-radius: 4px;
}

@media screen and (max-width: 991px) {
  .form_text {
    margin-bottom: 10px;
    padding-bottom: 0;
  }

  .center_block {
    flex-direction: column;
    align-items: flex-start;
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 479px) {
  .submit_button {
    text-align: left;
  }

  .form_text {
    text-transform: none;
    font-family: Inconsolata, monospace;
  }

  .form_text.question {
    letter-spacing: 0;
  }

  .form_input.text_area {
    height: 200px;
    max-height: 300px;
  }

  .container {
    padding-left: 10px;
    padding-right: 10px;
  }

  .form {
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    display: block;
  }

  .center_block {
    align-items: center;
  }

  .rich-text-block {
    font-size: 14px;
  }

  .container_ideas_lab {
    padding-left: 10px;
    padding-right: 10px;
  }
}

#w-node-ec6f752d-799f-0470-75b9-876d7992a928-7992a924 {
  align-self: auto;
  justify-self: stretch;
}

#w-node-ec6f752d-799f-0470-75b9-876d7992a92b-7992a924 {
  align-self: center;
  justify-self: center;
}

#w-node-_71f69c7e-65db-3e4d-4e0e-60241f7892f2-f6059929 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}


@font-face {
  font-family: 'Trade gothic lt';
  src: url('../fonts/Trade-Gothic-LT-Bold-Oblique.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}